
<link rel="stylesheet" href="app.component.css">

<div class="bg-gray-100 font-sans">
  <div class="container mx-auto px-4 py-8">
      <nav class="flex justify-between items-center">
          <a href="" class="font-bold text-xl text-indigo-600">Bienvenido</a>
      </nav>
      <div class="flex flex-col justify-center items-center my-16">
          <h1 class="text-5xl font-bold text-gray-800 leading-tight">Unidad Educativa Abelardo Tamariz Crespo</h1>
          <img style="padding-top: 30px;" src="https://abelardotamarizcrespo.files.wordpress.com/2014/03/cropped-kkd.jpg" alt="UE">
          <p class="text-2xl text-gray-600 mt-4">Somos una Unidad Educativa que ofrece una educación del más alto nivel</p>
          <button class="bg-indigo-600 hover:bg-indigo-700 text-white text-xl mt-8 py-4 px-8 rounded-lg"><a href="#contact" id="redirectedbutton">Contacto</a></button>
      </div>
      <div>
        <div class="container">

        <h1 class="text-5xl font-bold text-gray-1000 leading-tight">Misión</h1>
        <ol>
            <li><strong>Excelencia Académica:</strong> Buscamos la excelencia en la enseñanza y el aprendizaje, ofreciendo un currículo sólido que promueva la adquisición de conocimientos, habilidades y competencias esenciales para el desarrollo académico y personal.</li>
            <li><strong>Innovación Pedagógica:</strong> Abrazamos prácticas pedagógicas innovadoras que se adaptan a las necesidades individuales de nuestros estudiantes, fomentando la creatividad, el pensamiento crítico y la resolución de problemas.</li>
            <li><strong>Valores y Ciudadanía:</strong> Promovemos valores éticos y ciudadanos, inspirando en nuestros estudiantes el respeto, la responsabilidad y el compromiso social, para que se conviertan en ciudadanos comprometidos y éticos en un mundo diverso.</li>
            <li><strong>Diversidad e Inclusión:</strong> Celebramos la diversidad como fuente de fortaleza, creando un entorno inclusivo donde cada estudiante se sienta valorado y respaldado en su singularidad.</li>
            <li><strong>Desarrollo Integral:</strong> Nos comprometemos con el desarrollo integral de nuestros estudiantes, apoyando su crecimiento físico, emocional, intelectual y social, con el objetivo de prepararlos para enfrentar los desafíos y oportunidades de la vida.</li>
            <li><strong>Colaboración con la Comunidad:</strong> Fomentamos la colaboración activa con padres, tutores y la comunidad, reconociendo que la educación es un esfuerzo colectivo que requiere la participación y apoyo de toda la comunidad educativa.</li>
        </ol>

        <p><strong>Nuestro Compromiso con la Misión:</strong> En la Unidad Educativa Abelardo Tamariz Crespo, nos esforzamos constantemente por evaluar y mejorar nuestras prácticas educativas, adaptándonos a las cambiantes necesidades de la sociedad. Buscamos empoderar a nuestros estudiantes para que se conviertan en individuos proactivos, pensadores críticos y ciudadanos comprometidos, guiados por los principios de la excelencia y la integridad.</p>
        </div>
        
        <div class="container">

        <h1 class="text-5xl font-bold text-gray-1000 leading-tight">Visión</h1>
        <ol>
            <li><strong>Excelencia:</strong> Buscamos la excelencia en todas nuestras actividades educativas, promoviendo estándares de calidad que inspiren y desafíen a nuestros estudiantes a alcanzar su máximo potencial.</li>
            <li><strong>Innovación:</strong> Abrazamos la innovación en la enseñanza y aprendizaje, adoptando tecnologías y métodos pedagógicos vanguardistas para preparar a nuestros estudiantes para un mundo en constante evolución.</li>
            <li><strong>Desarrollo Integral:</strong> Priorizamos el desarrollo integral de nuestros estudiantes, proporcionándoles las herramientas y habilidades necesarias para enfrentar los desafíos de la vida con confianza y resiliencia.</li>
            <li><strong>Compromiso Social:</strong> Fomentamos en nuestros estudiantes un fuerte sentido de responsabilidad social, inspirándolos a contribuir positivamente a la comunidad y ser agentes de cambio.</li>
        </ol>

        <p><strong>Nuestro Compromiso con la Visión:</strong> Trabajamos de manera constante para realizar nuestra visión, guiados por la dedicación a la mejora continua, la adaptabilidad y la creación de un entorno educativo que prepare a los estudiantes para enfrentar los desafíos globales del siglo XXI.</p>
        </div>
        <div class="container">
          <div id="contact">
            <h1 class="text-5xl font-bold text-gray-1000 leading-tight">Contacto</h1>
            <p><strong>Teléfonos: 2899005-2962166</strong></p>
            <p><strong>Celulares: 0990051456-0995209191</strong></p>
            <P><STROng>Dirección: Av. Los Andes y Mama-Ocllo 4-65</STROng></P>
            <div style="display: flex; justify-content: center;">
            <img style="width: 500px; height: 350px;" src="https://4.bp.blogspot.com/_dAk5ak9ZamU/S_6TtcQaycI/AAAAAAAAARI/q01zV0KP4-k/s1600/HPIM1761.JPG" alt="UE2">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>